* {
  padding: 0;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  min-width: 1200px;
}

@media screen and (max-width: 800px) {
  body {
    min-width: 375px;
  }
}

.block-all-one {
  width: 100%;
  height: 900px;
}

@media screen and (max-width: 800px) {
  .block-all-one {
    width: 100%;
    height: 812px;
    min-width: 375px;
  }
}
.block-opacity-img {
  position: absolute;
  min-width: 1200px;
  width: 100%;
  height: 900px;
  background: url(img/item.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .block-opacity-img {
    min-width: inherit;
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0;
  }
}

.block-header {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 800px) {
  .block-header {
    width: initial;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
  }
}

.block-select-tm,
.bth,
.bth-two,
.block-select {
  width: 287px;
  height: 101px;
  border-bottom: 1px solid rgba(82, 103, 122, 0.3);
  border-left: 1px solid rgba(82, 103, 122, 0.3);
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .block-select,
  .bth-two {
    width: fit-content;
    display: none;
  }
  .block-select-tm,
  .bth {
    width: 183px;
    display: flex;
    justify-content: right;
    border: none;
    height: 34px;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
  }
}

.logo {
  background: url(icon/logo.svg) no-repeat;
  background-position-x: center;
  background-position-y: center;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 106px;
    background: url(icon/logo-mob.svg) no-repeat;
    background-position-x: left;
    background-position-y: center;
  }
}

.tel {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-decoration: none;
}

.icon-tel {
  background: url(icon/call.svg) no-repeat;
  padding-left: 29px;
}

@media screen and (max-width: 800px) {
  .tel {
    font-size: 18px;
  }
  .icon-tel {
    margin: 0;
  }
}

/**grid**/

.block-grid {
  width: 100%;
  display: inline-flex;
}

@media screen and (max-width: 800px) {
  .block-grid {
    display: inline-flex;
  }
}

.block-select-grid {
  width: 287px;
  height: 798px;
  border-bottom: 1px solid rgba(82, 103, 122, 0.3);
  border-left: 1px solid rgba(82, 103, 122, 0.3);
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .block-select-grid {
    display: none;
  }
}

.block-select-grid-line {
  width: 287px;
  height: 798px;
  border-bottom: 1px solid rgba(82, 103, 122, 0.3);
  border-left: 1px solid rgba(82, 103, 122, 0.3);
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .block-select-grid-line {
    display: none;
  }
}

.bl-line-one {
  padding-top: 267px;
  position: absolute;
  width: 99.9%;
  border-bottom: 1px solid rgba(82, 103, 122, 0.3);
}

.bl-line-two {
  bottom: 0;
  padding-bottom: 265px;
  position: absolute;
  width: 99.9%;
  border-top: 1px solid rgba(82, 103, 122, 0.3);
}

/** plus**/
.block-select-grid-pl {
  width: 287px;
  height: 798px;
  border-bottom: 1px solid rgba(82, 103, 122, 0.3);
  border-left: 1px solid rgba(82, 103, 122, 0.3);
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  .block-select-grid-pl {
    display: none;
  }
}

.plus {
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0);
}

.plus {
  transform: translate(-54%, 24%);
  top: 85px;
}

.r {
  transform: translate(-54%, 24%);
  top: 353px;
}

.plus:before {
  height: 100%;
  width: 1px;
  background-color: #fff;
  opacity: 0.8;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
}

.plus span {
  display: block;
  position: absolute;
  background-color: #6458ff;
  height: 10px;
  width: 10px;
  left: 50%;
  top: 0;
}

.plus:after {
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

/*info*/

.block-info {
  position: absolute;
  width: 576px;
  height: 310px;
  top: 386px;
  left: 20vw;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .block-info {
    width: 303px;
    height: 98px;
    position: inherit;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 233px;
  }
}

.bl-infa-one {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
}

@media screen and (max-width: 800px) {
  .bl-infa-one {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 33px;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.bl-infa-two {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 79px;
}

@media screen and (max-width: 800px) {
  .bl-infa-two {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 800px) {
  #cl {
    margin: 0 auto;
  }
}

.click {
  width: fit-content;
  display: flex;
  justify-content: start;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .click {
    margin: 0 auto;
  }
}

#check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 273px;
  height: 63px;
  background: #6458ff;
  box-shadow: 0px 36px 47px -18px rgba(1, 39, 71, 0.45);
  border-radius: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  #check {
    width: 273px;
    height: 46px;
    font-size: 15px;
  }
}

/*block-all-two*/

.block-all-two {
  padding: 140px 30px 128px 30px;
  display: flex;
  justify-content: space-between;
  background: white;
  max-width: 1128px;
}

@media screen and (max-width: 800px) {
  .block-all-two {
    padding: 80px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    background: white;
    max-width: initial;
    margin: 0;
  }
}

.bl-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0;
  margin-right: 40px;
}

@media screen and (max-width: 800px) {
  .bl-content {
    padding: 0px 15px 0px 15px;
  }
}

@media screen and (max-width: 800px) {
  .bl-content {
    margin-right: 0px;
    margin: 0 auto;
  }
}

.bl-zl {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 150%;
  color: #000000;
  margin: 0;
  margin-bottom: 48px;
}
@media screen and (max-width: 800px) {
  .bl-zl {
    font-size: 26px;
    text-align: center;
  }
}

.content-text-one {
  width: 548px;
  height: max-content;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 800px) {
  .content-text-one {
    width: 345px;
    font-size: 17px;
    margin: 0;
    margin-bottom: 16px;
  }
}

.content-text-two {
  width: 580px;
  height: 150px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #011f38;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .content-text-two {
    width: 345px;
    font-size: 15px;
    margin: 0;
    margin-bottom: 56px;
  }
}

.img-content {
  width: 432px;
  height: 350px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .img-content {
    width: 375px;
    height: 304px;
    margin: 0 auto;
  }
}

/*block-all-free*/

.block-all-free {
  padding: 0px 30px 128px 30px;
  max-width: 1128px;
}
@media screen and (max-width: 800px) {
  .block-all-free {
    padding: 88px 0px 0px 0px;
  }
}

.text-work {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 150%;
  color: #011f38;
  margin-bottom: 48px;
}

@media screen and (max-width: 800px) {
  .text-work {
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    color: #000000;
  }
}

.bl-free-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .bl-free-cont {
    display: flex;
    flex-direction: column-reverse;
  }
}

.img-metal {
  width: 348px;
  height: 516px;
  margin: 0;
  margin-right: 40px;
  background: url(img/metal.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .img-metal {
    margin-right: 0;
    margin-top: 40px;
    width: 375px;
    height: 304px;
    background: url(img/metal-mob.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bl-list {
  margin: 0;
}
@media screen and (max-width: 800px) {
  .bl-list {
    padding: 0px 15px 0px 15px;
  }
}

ol {
  counter-reset: myCounter;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 736px;
}

@media screen and (max-width: 800px) {
  ol {
    width: 345px;
  }
}

li {
  width: 344px;
  height: 140px;
  background: #fafafa;
  border-radius: 10px;
  list-style: none;
  margin: 0 0 48px 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 168px;
    height: 135px;
    margin: 0 0 16px 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #464646;
  }
}

li:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  color: #6458ff;
  line-height: normal;
  margin: 0 24px 0 40px;
}

@media screen and (max-width: 800px) {
  li::before {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #6458ff;
    margin: 0;
  }
}

.mrg {
  margin-right: 48px;
}
@media screen and (max-width: 800px) {
  .mrg {
    margin-right: 0px;
  }
}

.btom {
  margin-bottom: 0;
}

.style-text-li {
  margin-right: 40px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 800px) {
  .style-text-li {
    width: 138px;
    text-align: center;
    margin-right: 0px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.style-kl {
  letter-spacing: 0;
}

.cyrilic li:nth-child(1)::before {
  content: "01";
}
.cyrilic li:nth-child(2)::before {
  content: "02";
}
.cyrilic li:nth-child(3)::before {
  content: "03";
}
.cyrilic li:nth-child(4)::before {
  content: "04";
}
.cyrilic li:nth-child(5)::before {
  content: "05";
}
.cyrilic li:nth-child(6)::before {
  content: "06";
}

/*block-all-four*/

.block-all-four {
  padding: 0 30px 96px 30px;
}
@media screen and (max-width: 800px) {
  .block-all-four {
    padding: 64px 15px 80px 15px;
  }
}

.text-working {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 150%;
  text-align: center;
  color: #011f38;
  margin-bottom: 48px;
  text-align: start;
}

@media screen and (max-width: 800px) {
  .text-working {
    width: 300px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin-bottom: 32px;
  }
}

.block-all-column {
  max-width: 1128px;
}

.bl-materials {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .bl-materials {
    display: flex;
    flex-wrap: wrap;
    max-width: 345px;
  }
}

.block-column {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .block-column {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 345px;
  }
}

@media screen and (max-width: 800px) {
  .bl-img-cont {
    margin: 0;
    width: min-content;
  }
}

.strong-one-img {
  width: 370px;
  height: 246px;
}

@media screen and (max-width: 800px) {
  .strong-one-img {
    width: 168px;
    height: 105px;
  }
}

.column-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #011f38;
  padding-top: 16px;
  margin-bottom: 32px;
}
@media screen and (max-width: 800px) {
  .column-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #464646;
    margin-bottom: 24px;
  }
}

/*block-all-five*/

.block-all-five {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  max-width: 1128px;
}

@media screen and (max-width: 800px) {
  .block-all-five {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 15px 0px 15px;
  }
}

.block-img-chek-text {
  width: 435px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .block-img-chek-text {
    max-width: 345px;
  }
}

.bl-heading {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 150%;
  color: #011f38;
  margin-bottom: 48px;
}
@media screen and (max-width: 800px) {
  .bl-heading {
    font-size: 26px;
    color: #000000;
    margin-top: 56px;
    margin-bottom: 32px;
    text-align: center;
  }
}

.bl-chek-img {
  background: url(icon/circle_check.svg) no-repeat;
  padding-left: 49px;
  margin-bottom: 24px;
  background-position-y: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #011f38;
}
@media screen and (max-width: 800px) {
  .bl-chek-img {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #464646;
  }
}

.bt {
  margin-bottom: 56px;
}

.bl-img-krsa {
  width: fit-content;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .bl-img-krsa {
    width: 375px;
    height: 304px;
  }
}

/*block-all-six*/

.block-all-six {
  margin-top: 128px;
}
@media screen and (max-width: 800px) {
  .block-all-six {
    margin-top: 88px;
  }
}

.block-cl {
  display: flex;
  justify-content: center;
}

.block-content-st {
  width: fit-content;
  height: fit-content;
  padding: 0px 30px 0px 30px;
}
@media screen and (max-width: 800px) {
  .block-content-st {
    padding: 0;
    margin: 0;
  }
}

.text-bl-six {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 150%;
  color: #011f38;
  margin-bottom: 48px;
  white-space: nowrap;
}
@media screen and (max-width: 800px) {
  .text-bl-six {
    text-align: center;
    font-size: 26px;
    margin-bottom: 32px;
  }
}

.bl-text-content-st {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  margin-top: 32px;
}
@media screen and (max-width: 800px) {
  .bl-text-content-st {
    width: 339px;
    margin-top: 32px;
  }
}

.bl-picture-one {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #464646;
  margin: 0;
}

.tw {
  padding-right: 18px;
}

.bth-st {
  display: flex;
  height: fit-content;
  width: fit-content;
  margin: 0;
}

.bt-st {
  border-radius: 10px;
  width: 99px;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  background: url(icon/arrow_back_ios.svg) no-repeat;
  background-position-y: center;
  background-position-x: right;
  text-align: start;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #464646;
}

@media screen and (max-width: 800px) {
  .bl-img-gallery-flex {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
  }
}

.bt-img-gallery {
  display: flex;
  margin: 0;
  margin-bottom: 8px;
}

@media screen and (max-width: 800px) {
  .bt-img-gallery {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3px;
  }
}

/*JQUERY-IMG*/

#magnify {
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: fixed;
  max-width: 600px;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  
}

#magnify img {
  width: 100%;
  border-radius: 5px;
}
#conteiner-popup {
  width: 100%;
  display: flex;
}


#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: 9990;
}

#close-popup {
  width: 32px;
  height: 32px;
  background: #ff6c39;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

#close-popup i {
  width: 32px;
  height: 32px;
  background: url(icon/cross.svg) no-repeat center center;
  background-size: 20px 20px;
  display: block;
}

@keyframes rota {
 25% { transform: rotate(360deg); }
}

#close-popup:hover {
  animation: rota 5s infinite normal;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.bt-img-gallery-one {
  margin: 0;
  width: 276px;
  height: 276px;
}
@media screen and (max-width: 800px) {
  .bt-img-gallery-one {
    width: 123px;
    height: 123px;
  }
}

.mg {
  margin-left: 8px;
  margin-right: 8px;
}

@media screen and (max-width: 800px) {
  .mg {
    margin-left: 0;
    margin-right: 0;
  }

  .tg {
    margin-right: 0px;
  }
}
.ot {
  margin-left: 8px;
}

@media screen and (max-width: 800px) {
  .ot {
    display: none;
  }
}

#hidden_content_1,
#hidden_content_2 {
  height: 500px;
  padding: 0px 30px 0px 30px;
  display: flex;
  height: fit-content;
  margin-bottom: 28px;
}

@media screen and (max-width: 800px) {
  #hidden_content_1,
  #hidden_content_2 {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .bc {
    width: 375px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

#style-lf {
  margin-right: 8px;
  margin-bottom: 8px;
}
@media screen and (max-width: 800px) {
  #style-lf {
    width: 186px;
    height: 110px;
    margin-right: 3px;
    margin-bottom: 3px;
  }
}

#style-tp {
  margin-bottom: 3px;
}
@media screen and (max-width: 800px) {
  #style-tp {
    width: 186px;
    height: 110px;
  }
}

.bt-move-gallery {
  margin: 0;
  display: flex;
}

.block-contact {
  max-width: 1128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 128px 30px 128px 30px;
}

@media screen and (max-width: 800px) {
  .block-contact {
    display: flex;
    flex-direction: column;
    padding: 88px 15px 0px 15px;
  }
}

.bl-all-document {
  margin: 0;
}

.bl-all-map {
  margin: 0;
}
@media screen and (max-width: 800px) {
  iframe {
    width: 375px;
    height: 280px;
  }
}

.bl-contact {
  margin-bottom: 42px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 150%;
  color: #000000;
}

@media screen and (max-width: 800px) {
  .bl-contact {
    font-size: 26px;
    text-align: center;
  }
}

.bl-cont-info {
  display: flex;
  justify-content: space-between;
  width: 442px;
}
@media screen and (max-width: 800px) {
  .bl-cont-info {
    width: 335px;
    margin-bottom: 32px;
  }
}

.bl-namber-all {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.cont-tel {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #464646;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .cont-tel {
    font-size: 15px;
  }
}

.mrgin {
  margin-top: 8px;
}

.bl-namber-mail {
  margin: 0;
}

.bl-mail {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #464646;
}
@media screen and (max-width: 800px) {
  .bl-mail {
    font-size: 15px;
  }
}

.cont-time {
  margin-top: 8px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #464646;
}
@media screen and (max-width: 800px) {
  .cont-time {
    font-size: 15px;
  }
}

.colortext {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #6458ff;
}

/*block-all-seven*/

.block-all-seven {
  display: flex;
  background: #000000;
  padding: 128px 30px 128px 30px;
}

@media screen and (max-width: 800px) {
  .block-all-seven {
    padding: 88px 15px 88px 15px;
  }
}

.form-text-block {
  margin-bottom: 48px;
}
@media screen and (max-width: 800px) {
  .form-text-block {
    margin-bottom: 32px;
  }
}

.form-text-name {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 8px;
}

@media screen and (max-width: 800px) {
  .form-text-name {
    font-size: 26px;
    text-align: center;
  }
}

.form-text-smol {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #b2b2b2;
}
@media screen and (max-width: 800px) {
  .form-text-smol {
    width: 260px;
    font-size: 15px;
    text-align: center;
  }
}

.block-form-coment-phone-email {
  display: flex;
}

@media screen and (max-width: 800px) {
  .block-form-coment-phone-email {
    display: flex;
    flex-direction: column;
  }
}

textarea[name="comment"] {
  resize: none;
  width: 500px;
  height: 216px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  background: #292929;
  border-radius: 5px;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #7c7c7c;
  margin-right: 32px;
}

@media screen and (max-width: 800px) {
  textarea[name="comment"] {
    width: 297px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 13px;
  }
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

.bl-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-tr {
  width: 500px;
  height: 68px;
  background: #292929;
  border-radius: 5px;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #7c7c7c;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 800px) {
  .form-tr {
    width: 297px;
    height: 44px;
    margin: 0;
    margin-bottom: 8px;
    font-size: 13px;
  }
}

.form-tr-style-br {
  width: 360px;
  height: 68px;
  border-radius: 5px 0px 0px 5px;
  background: #292929;
  border: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #7c7c7c;
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (max-width: 800px) {
  .form-tr-style-br {
    width: 203px;
    height: 44px;
    margin: 0;
    font-size: 13px;
  }
}

.buttom-st-bl {
  display: flex;
}

.submit-form {
  width: 140px;
  height: 68px;
  border: none;
  background: #6458ff;
  border-radius: 0px 5px 5px 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}
@media screen and (max-width: 800px) {
  .submit-form {
    width: 94px;
    height: 44px;
    font-size: 15px;
  }
}
